.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
.row::after {
  content: "";
  clear: both;
  display: table;
}

.image {
  background: url(ecotourism1.jpg) no-repeat center; 
  background-size: cover;
  height: 350px;
  position: relative;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}